%h1
  Услуги
  &rarr;
  = @service.name
.clearfix
- if @service.image?
  = link_to @service.image.medium.url, class: 'fancybox' do
    = image_tag @service.image.small, id: 'service_img'
!= @service.description
