%footer#footer
  .container
    .row.sections
      .col-sm-4.recent_posts
        %h3.footer_header Электронная почта
        .post
          %p info@aqua-vrn.ru
      .col-sm-4.testimonials
        %h3.footer_header Телефоны
        .wrapper
          .quote
            +7 (473) 229-11-47
            %br
            +7 (950) 771-80-81
            %br
            +7 (951) 568-64-19
      .col-sm-4.contact
        %h3.footer_header Форма связи
        %foram{ action: "#", method: "post" }
          %input{ type: "text", placeholder: "Имя" }
          %input{ type: "text", placeholder: "Email" }
          %textarea{ rows: "3", placeholder: "Сообщение" }
          %input{ type: "submit", value: "Отправить" }
        %br
        %br
        %br
